<script type="text/javascript" src="./components/js/buttons.js"></script>
<div x-data="buttons" class="overflow-hidden">
  <div class="my-1 flex items-center justify-between">
    <div class="text-xs whitespace-nowrap">共有
      <span class="font-bold" x-text="currentFilesCount"></span> 个文件<span x-text="isIgnoreMode ? '已隐藏' : '已变更'"></span>，
      <span class="font-bold" x-text="$store.fileListing?.selectedFilesCount ?? 0"></span> 个文件被选中
    </div>
    <div class="flex items-center gap-1" x-show="$store.projectPath?.path">
      <label class="select select-xs border-none px-0 gap-0 w-auto bg-none">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
        </svg>
        <select x-model="filterByDay" class="w-auto mx-0 px-1">
          <template x-for="day in Array.from(filterByDays)">
            <option x-bind:value="day[0]" x-text="day[1]"></option>
          </template>
        </select>
      </label>
      <label class="label gap-0 text-xs whitespace-nowrap">
        <input type="checkbox" x-model="isIgnoreMode" class="checkbox checkbox-sm" />
        <span style="margin-left:2px;color:var(--color-base-content);">查看隐藏的文件</span>
      </label>
      <label class="label gap-0 text-xs whitespace-nowrap">
        <input type="checkbox" x-model="forcedUseGitignore" x-on:click="changForcedUseGitignore" class="checkbox checkbox-sm checked:border-orange-500 checked:bg-orange-400 checked:text-orange-800" />
        <span style="margin-left:2px;color:var(--color-base-content);">强行按/.gitignore文件内容来隐藏文件</span>
      </label>
    </div>
  </div>
  <div class="flex items-center justify-between">
    <div class="shrink-0 flex items-center gap-1">
      <button class="btn" x-on:click="refresh">刷新(F5)</button>
      <button class="btn" x-on:click="pull">拉取(F6)</button>
      <button class="btn" x-on:click="stashList">查看储藏(F7)</button>
      <button class="btn show-histories-btn" x-on:click="showLogHistories" title="Ctrl + H">提交历史</button>
    </div>
    <div class="join shrink-0" style="align-items:center;">
      <button class="btn join-item" x-on:click="commit" data-action="commit" title="Ctrl + Enter">提交</button>
      <button class="btn join-item" x-show="canPush" x-on:click="push">推送</button>
      <button class="btn join-item" x-on:click="commit" data-action="commitAndPush" title="Ctrl + Shift + Enter">提交并推送</button>
    </div>
  </div>
</div>
