<script>
Alpine.store('dialog', {
  $el: null,
  $nextTick: () => {},

  dialogClass: '',
  minWidth: false,
  title: '',
  bodyId: 'modalBody',
  okBtn: null,
  cancelBtn: null,

  open(title, body, okBtn = undefined, cancelBtn = undefined, minWidth = false) {
    this.minWidth = minWidth;
    this.title = title;
    this.bodyId = 'modalBody' + Math.random().toString(36).substring(2);
    this.$el.showModal();

    this.$nextTick(() => {
      const bodyEl = document.getElementById(this.bodyId);
      if (body instanceof Element) {
        bodyEl.innerHTML = '';
        bodyEl.appendChild(body);
      } else {
        bodyEl.innerHTML = body;
      }
    });

    if (okBtn || cancelBtn) {
      const promise = new Promise(resolve => {
        if (okBtn) {
          const isArr = Array.isArray(okBtn);
          this.okBtnClick(() => {
            const v = isArr ? okBtn[1]() : 'ok';
            v===false ? null : resolve(v === undefined ? 'ok' : v);
          }, okBtn===true ? '确定' : (isArr ? okBtn[0] : okBtn));
        }
        if (cancelBtn) {
          const isArr = Array.isArray(cancelBtn);
          this.cancelBtnClick(() => {
            const v = isArr ? cancelBtn[1]() : 'cancel';
            v===false ? null : resolve(v === undefined ? 'cancel' : v);
          }, cancelBtn===true ? '取消' : (isArr ? cancelBtn[0] : cancelBtn));
        }
        this.$el.addEventListener('close', () => resolve('close'), {once: true});
      });
      promise.finally(() => {
        this.$el.close();
        window.setTimeout(() => {
          this.okBtn = null;
          this.cancelBtn = null;
          this.dialogClass = '';
        }, 500);
      });
      return promise;
    }
    return new Promise(resolve => this.$el.addEventListener('close', () => resolve('close'), {once: true}));
  },

  prompt (title, label, placeholder = '') {
    let p;
    const inputElm = document.createElement('input');
    const okBtn = ['确定', () => inputElm.value];
    const cancelBtn = ['取消', () => null];
    inputElm.setAttribute('type', 'text');
    inputElm.setAttribute('placeholder', placeholder ?? '');
    if (label) {
      const labelElm = document.createElement('label');
      labelElm.className = 'input my-1 w-full';
      labelElm.innerHTML = '<span class="label">'+htmlspecialchars(label)+'</span>';
      labelElm.appendChild(inputElm);
      p = this.open(title, labelElm, okBtn, cancelBtn, true);
    } else {
      inputElm.className = 'input w-full';
      p = this.open(title, inputElm, okBtn, cancelBtn, true);
    }

    this.$nextTick(() => {
      inputElm.value = '';
      inputElm.focus();
    });

    return p;
  },

  openWithComponent (title, componentFile, props = undefined, okBtn = undefined, cancelBtn = undefined, minWidth = false) {
    const loading = document.createElement('div');
    loading.style.marginBlock = '2rem';
    loading.innerHTML = '<p class="text-center"><span class="loading loading-spinner loading-xl"></span></p>';
    const p = this.open(title, loading, okBtn, cancelBtn, minWidth);

    fetch(componentFile)
      .then(response => response.text())
      .then(async html => {
        const {html: newhtml, scriptPromises, scriptElements} = extractScriptFromHtml(html, props);
        if (scriptElements.length) scriptElements.forEach(elm => {
          document.head.appendChild(elm);
          if (elm._funcName) {
            window[elm._funcName](elm._funcArgs);
            delete window[elm._funcName];
          }
        });
        if (scriptPromises.length) {
          const results = await Promise.allSettled(scriptPromises);
          results.forEach(result => {
            if (result.status === 'rejected') console.error('Error in component script:', result.reason);
          });
        }
        loading.insertAdjacentHTML('beforebegin', newhtml);
        loading.remove();

        if (scriptElements.length) scriptElements.forEach(elm => elm.remove());
        return newhtml;
      })
      .catch(error => console.error('Error loading component '+componentFile+':', error));

    return p;
  },

  setDialogClass (className) {
    this.dialogClass = className;
    return this;
  },

  okBtnClick (func, label) {
    this.okBtn = [func.bind(this), label];
    return this;
  },

  cancelBtnClick (func, label) {
    this.cancelBtn = [func.bind(this), label];
    return this;
  }
});
</script>
<dialog class="modal" x-init="$store.dialog['$el'] = $el; $store.dialog['$nextTick'] = $nextTick;" x-bind:class="$store.dialog.dialogClass">
  <div class="modal-box" :class="{'w-11/12 max-w-5xl': !$store.dialog.minWidth}">
    <form method="dialog">
      <button type="submit" class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2">✕</button>
    </form>
    <h3 class="text-lg font-bold" x-text="$store.dialog.title"></h3>
    <div class="py-4" x-bind:id="$store.dialog.bodyId"></div>
    <template x-if="$store.dialog.okBtn || $store.dialog.cancelBtn">
      <div class="modal-action">
        <template x-if="$store.dialog.cancelBtn">
          <button type="button" class="btn" x-on:click="$store.dialog.cancelBtn[0]" x-text="$store.dialog.cancelBtn[1] ?? '取消'"></button>
        </template>
        <template x-if="$store.dialog.okBtn">
          <button type="button" class="btn btn-primary" x-on:click="$store.dialog.okBtn[0]" x-text="$store.dialog.okBtn[1] ?? '确定'"></button>
        </template>
      </div>
    </template>
  </div>
</dialog>
