<script>
  Alpine.store('fileListing', { selectedFilesCount: 0 });
  Alpine.data('fileListing', () => ({
    lastSaveArchiver: null,

    init() {
      this.$watch('$store.fileListing.selectedFilesCount', value => {
        const selectAllCheckbox = document.getElementById('select-all');
        if (selectAllCheckbox) {
          const totalFiles = this.files.length;
          selectAllCheckbox.indeterminate = value > 0 && value < totalFiles;
          selectAllCheckbox.checked = totalFiles > 0 && value >= totalFiles;
        }
      });
      window.electronAPI.onMenuClick('showFileDiff', (event, file) => this.showDiff(file));
      window.electronAPI.onMenuClick('git:checkout', (event, path, file, ...files) => {
        const confirmMsg = files.length > 0
          ? '是否放弃对选中的 ' + (files.length + 1) + ' 个文件的修改？'
          : '是否放弃对 "' + file + '" 的修改？';
        const successMsg = files.length > 0
          ? '已还原选中的 ' + (files.length + 1) + ' 个文件的修改'
          : '已还原 "' + file + '" 的修改';
        if(window.confirm(confirmMsg)){
          window.gitAPI.checkout(path, file, ...files)
            .then(() => this.refresh(() => showSuccess(successMsg)))
            .catch(err => this.showError(err.message));
        }
      });
      window.electronAPI.onMenuClick('git:stash.push', (event, path, ...files) => {
        const promptMsg = files.length ? '确定要存储选中的 ' + files.length + ' 个文件？' : '确定要存储所有修改的文件？';
        Alpine.store('dialog').prompt(promptMsg, '备注:').then(msg => {
          if (typeof msg === 'string') {
            window.gitAPI.stash.push(path, files, msg)
              .then(() => this.refresh(() => showSuccess('已成功存储文件')))
              .catch(err => this.showError(err.message));
          }
        });
      });
      window.electronAPI.onMenuClick('dialog:showSaveDialog', (event, path, ...files) => {
        window.electronAPI.showSaveDialog({
          title: '压缩文件保存到...',
          filters: [{name: 'ZIP 文件', extensions: ['zip']}],
          defaultPath: this.lastSaveArchiver || path
        }).then((filePath) => {
          if(filePath){
            if(!filePath.toLowerCase().endsWith('.zip')){
              filePath += '.zip';
            }
            this.lastSaveArchiver = filePath;
            window.electronAPI.createArchiver(filePath, path, files, {zlib: {level: 6}}).then(() => {
              showSuccess('已成功保存压缩文件到: ' + filePath);
            }).catch((error) => {
              this.showError('保存压缩文件失败: ' + error.message);
            });
          }
        }).catch((error) => {
          this.showError('保存压缩文件失败: ' + error.message);
        });
      });

      const failedFiles = [];
      window.electronAPI.onMenuClick('ftp:upload', (event, path, ...files) => {
        window.electronAPI.ftpUploadFile(path, files, 'ftp:progress').then(succeedCount => {
          showSuccess(`已上传完选中的文件 ${files.length} 个。<br>成功：${succeedCount} 个，失败：${files.length - succeedCount} 个。`);
        }).catch((error) => {
          this.showError('文件上传失败: ' + error.message);
        })
        .finally(() => {
          Alpine.store('statusBar').statusText = '';
          if (failedFiles.length > 0) {
            this.openDialog('以下文件上传失败', '<div style="color:red;">' + failedFiles.join('<br>') + '</div>');
            failedFiles.length = 0;
          }
        });
      });
      window.gitAPI.onProgress('ftp:progress', (event, data) => {
        let statusText = '';
        if (data.message) {
          if (data.type === 'error' && data.file) {
            statusText += '上传文件 ' + data.file + ' 失败: ' + data.message;
            failedFiles.push(data.file);
          } else {
            statusText += data.message;
          }
        } else if (data.type === 'upload') {
          statusText += '上传文件 ' + data.file + '... ' + data.progress + '%';
        }
        if (data.fileCount) {
          statusText += ` (${data.fileIndex + 1} / ${data.fileCount})`;
        }
        Alpine.store('statusBar').statusText = statusText;
      });
      window.electronAPI.onMenuClick('shell:showItemInFolder', (event, fullPath) => window.electronAPI.ipcInvoke('shell:showItemInFolder', fullPath));
    },

    toggleSelectAll(event) {
      const isChecked = event.target.checked;

      this.files.forEach(file => file.selected = isChecked);
      Alpine.store('fileListing').selectedFilesCount = isChecked ? this.files.length : 0;
    },

    showDiff(file) {
      if(isDisabledBody()) return;

      clearMessages();
      if(file.status!=='modified'){
        showError('当前文件不是已修改状态，无法查看差异');
        return;
      }

      disableBody(true);
      const projectPath = Alpine.store('projectPath').path;
      window.gitAPI.diffFile(projectPath, file.file)
        .then(result => window.gitAPI.showDiff(projectPath, file.file, result))
        .catch(error => this.showError(error.message))
        .finally(() => disableBody(false));

      /*
      window.gitAPI.diff(projectPath, [file.file])
        .then(result => {
          const chunks = result ? result.split(/\s*@@ -(\d+),?(\d*) \+(\d+),?(\d*) @@[\t ]*[^\r\n]*[\r\n]/) : [];
          const changes = [];
          const fileMatch = /a[/\\](.+?)\s+b[/\\]\1/gi.exec(chunks[0]);
          for (let i = 1; i < chunks.length; i += 5) {
            const len = changes.push({
              oldStart: parseInt(chunks[i]),
              oldLines: parseInt(chunks[i+1] || 1),
              newStart: parseInt(chunks[i+2]),
              newLines: parseInt(chunks[i+3] || 1),
              code: chunks[i+4].split(/[\r\n]/)
            });
            changes[len - 1].diffCode = this._parseDiffCode(changes[len - 1]);
          }
          window.gitAPI.showDiff(fileMatch ? fileMatch[1] : null, changes);
        })
        .catch(error => this.showError(error.message))
        .finally(() => disableBody(false));*/
    },

    clickRow(event, tr) {
      const checkbox = tr.querySelector('.col-checkbox input[type="checkbox"]');
      if (checkbox) {
        checkbox.focus();

        if (event.target.type === 'checkbox') {
          let selectedFilesCount = Alpine.store('fileListing').selectedFilesCount;
          if (checkbox.checked) {
            selectedFilesCount++;
          } else if (selectedFilesCount > 0) {
            selectedFilesCount--;
          }
          Alpine.store('fileListing').selectedFilesCount = selectedFilesCount;
        }
      }
    },

    showPathContextMenu(currentFile) {
      const projectPath = Alpine.store('projectPath').path;
      let files = this.getSelectedFiles();
      let menus = [];

      menus.push(
        {label: '查看差异', text: currentFile.file, handler: 'showFileDiff', args: [{ file: currentFile.file, status: currentFile.status }], enabled: currentFile.status === 'modified'},

        {label: '复制相对路径', text: currentFile.file},
        {label: '复制绝对路径', text: currentFile.absPath},

        {label: '打开所在文件夹', text: 'showItemInFolder', handler: 'shell:showItemInFolder', args: [currentFile.absPath]},

        {label: '存储所有修改', text: 'gitStagePush', handler: 'git:stash.push', args: [projectPath]},
      );

      if (currentFile.status !== 'untracked') {
        menus.push(
          {label: '放弃修改', text: currentFile.file, handler: 'git:checkout', args: [projectPath, currentFile.file]}
        );
      }

      if(files.length>0){
        let absPaths = [];
        let paths = [];
        for(const file of files){
          absPaths.push(file.absPath);
          paths.push(file.file);
        }

        menus.push(
          '-',
          {label: '复制选中文件的相对路径', text: paths.join("\n")},
          {label: '复制选中文件的绝对对路径', text: absPaths.join("\n")},
          {label: '打包选中的文件', text: 'archiver', handler: 'dialog:showSaveDialog', args: [projectPath, ...paths]},
          {label: '存储选中的文件', text: 'gitStagePush', handler: 'git:stash.push', args: [projectPath, ...paths]},
          {label: '放弃选中文件的修改', text: 'checkout', handler: 'git:checkout', args: [projectPath, ...paths]}
        );

        if (this.getFtpConfig()) {
          menus.push(
            {label: '上传选中的文件', text: 'ftpUpload', handler: 'ftp:upload', args: [projectPath, ...paths]}
          );
        }
      }

      window.electronAPI.showPathContextMenu(menus);
    },

    keyboardSelectFile(event) {
      if(event.target.type==='checkbox' && event.target.tagName.toLowerCase()==='input'){
        let el = null;
        if(event.keyCode === 38) {//上箭头
          event.preventDefault();
          el = event.target.closest('tr').previousElementSibling;
        }else if(event.keyCode === 40){//下箭头
          event.preventDefault();
          el = event.target.closest('tr').nextElementSibling;
        }
        if(el && el.tagName?.toLowerCase()==='tr'){
          el.querySelector('.col-checkbox input[type="checkbox"]').focus();
        }
      }
    },

    getFtpConfig() {
      const path = Alpine.store('projectPath').path;
      if(!path) return null;

      let config = window.electronStore.get('ftp');
      return (config && typeof config[path] === 'object') ? config[path] : null;
    },

    _parseDiffCode(changes) {
      const diffCode = [[], []];
      changes.code.pop();//最后一行是多出来的

      for(let lines = changes.code.length, i = 0; i<lines; i++){
        if(changes.code[i] === '\\ No newline at end of file') break;

        let len1 = diffCode[0].length, len2 = diffCode[1].length;
        if(changes.code[i].startsWith('-')){
          diffCode[0].push({
            line: len1 ? diffCode[0][len1 - 1].line+1 : changes.oldStart+i,
            code: changes.code[i],
            change: '-'
          });
        }else if(changes.code[i].startsWith('+')){
          diffCode[1].push({
            line: len2 ? diffCode[1][len2 - 1].line+1 : changes.newStart+i,
            code: changes.code[i],
            change: '+'
          });
        }else{
          let row = {
            line: Math.max(
              len1 ? diffCode[0][len1 - 1].line+1 : changes.oldStart+i,
              len2 ? diffCode[1][len2 - 1].line+1 : changes.newStart+i
            ),
            code: changes.code[i],
            change: ''
          };
          let noneLines = [0, 0];
          if(len1){
            for(let j = diffCode[0][len1 - 1].line + 1; j < row.line; j++){
              diffCode[0].push({
                line: '',
                code: '',
                change: 'none'
              });
              noneLines[0]++;
            }
          }
          if(len2){
            for(let j = diffCode[1][len2 - 1].line + 1; j < row.line; j++){
              diffCode[1].push({
                line: '',
                code: '',
                change: 'none'
              });
              noneLines[1]++;
            }
          }
          diffCode[0].push(row);
          diffCode[1].push(row);
        }
      }
      return diffCode;
    }
  }));
</script>
<div class="file-list overflow-x-auto w-full" x-data="fileListing">
  <table class="table table-pin-rows table-pin-cols">
    <thead>
      <tr>
        <th class="col-checkbox" data-field="checkbox" width="32"><input type="checkbox" id="select-all" class="checkbox checkbox-sm" x-on:click="toggleSelectAll"></th>
        <td data-field="file" x-on:click="sortFiles">文件</td>
        <td data-field="time" order-by="timestamp" x-on:click="sortFiles">最后修改时间</td>
        <td data-field="statusLabel" order-by="status" x-on:click="sortFiles">状态</td>
        <td data-field="ext" x-on:click="sortFiles">文件类型</td>
        <td data-field="fsize" order-by="size" x-on:click="sortFiles">大小</td>
      </tr>
    </thead>
    <tbody x-on:keydown="keyboardSelectFile">
      <template x-for="file in files" :key="file.key">
        <tr :class="file.status" x-on:click="clickRow.bind($data, $event, $el, file)">
          <th class="col-checkbox"><input type="checkbox" x-model="file.selected" class="checkbox checkbox-sm"></th>
          <td x-text="file.file" x-on:contextmenu="showPathContextMenu.bind($data, file)" x-on:dblclick="showDiff.bind($data, file)"></td>
          <td x-text="file.time"></td>
          <td x-text="file.statusLabel"></td>
          <td x-text="file.ext"></td>
          <td class="text-right" x-text="file.fsize"></td>
        </tr>
      </template>
    </tbody>
  </table>
  <template x-if="files.length === 0">
  <div class="py-4 text-center">没有需要提交的文件</div>
  </template>
</div>