<script>
Alpine.data('cloneRemoteDialog', () => ({
  remoteUrl: '',
  userName: '',
  userEmail: '',

  init() {
    this.$watch('$store.projectPath.isInsideWorkTree', flag => {
      if(!flag){
        window.gitAPI.getGlobalConfig().then(result => {
          if (typeof result['user.name'] === 'string') this.userName = result['user.name'];
          if (typeof result['user.email'] === 'string') this.userEmail = result['user.email'];
        }).catch(() => { /* Ignore error */ });
      }
    });
  },

  clone() {
    if (this.$refs.cloneRemoteDialogForm.reportValidity() && this.validateProjectPath()) {
      disableBody(true);
      window.gitAPI.clone({baseDir: Alpine.store('projectPath').path, progress: 'git:progress'}, this.remoteUrl)
      .then(result => {
        disableBody(false);

        window.gitAPI.raw(result.local, ['config', '--local', 'user.name', this.userName]).catch(err => this.showError(textToHtml(err.message)));
        window.gitAPI.raw(result.local, ['config', '--local', 'user.email', this.userEmail]).catch(err => this.showError(textToHtml(err.message)));
        document.dispatchEvent(new CustomEvent('add_project_path', { detail: {path: result.local, isAppend: false} }));
      })
      .catch(err => {
        disableBody(false);
        this.showError(textToHtml(err.message));
      });
    }
  },

  validateProjectPath() {
    const pathSelect = document.querySelector('select[role="history-project-paths"]');
    let path = Alpine.store('projectPath').path;
    if (!path) {
      if (pathSelect) {
        path = pathSelect.value;
        if (path && path !== '%SELECT%') {
          Alpine.store('projectPath').path = path;
          pathSelect.setCustomValidity('');
          return true;
        }
        pathSelect.setCustomValidity('请选择项目路径');
        pathSelect.reportValidity();
      } else {
        this.showError('请选择项目路径');
      }
      return false;
    } else if (pathSelect) {
      pathSelect.setCustomValidity('');
    }
    return true;
  }
}));
</script>
<div x-data="cloneRemoteDialog" class="clone-remote-dialog" :class="$store.projectPath.isInsideWorkTree ? '' : 'show'">
  <template x-if="!$store.projectPath.isInsideWorkTree">
  <form method="post" x-ref="cloneRemoteDialogForm" class="w-full max-w-xl" onsubmit="return false;">
    <fieldset class="fieldset w-full">
      <legend class="fieldset-legend">远程仓库地址</legend>
      <input type="text" class="input w-full validator" x-model="remoteUrl" required />
      <p class="label">请填写HTTP或者SSL地址</p>
    </fieldset>
    <div>&nbsp;</div>
    <fieldset class="fieldset border-base-300 rounded-box w-xs border p-4">
      <legend class="fieldset-legend">设置提交人</legend>
      <label class="label">姓名</label>
      <input type="text" class="input validator" x-model="userName" required />
      <label class="label">邮箱</label>
      <input type="email" class="input validator" x-model="userEmail" required />
    </fieldset>
    <div class="modal-action">
      <button type="button" class="btn btn-primary" x-on:click="clone">确定</button>
    </div>
  </form>
  </template>
</div>
