<script type="text/javascript" src="./components/js/project-path.js"></script>
<div x-data="projectPath" class="mt-1">
  <div class="flex gap-2">
    <label class="select grow">
      <span class="label whitespace-nowrap"><svg x-show="historyProjectPaths.length>0" x-on:click="manageProjects" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" stroke-width="1.5" stroke="currentColor" class="size-4 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="M0 3h18M0 9h18M0 15h18" />
        </svg>项目路径</span>
      <select role="history-project-paths" x-model="$store.projectPath.path" x-on:change="selectProjectPath">
        <template x-if="!historyProjectPaths.length">
          <option value="" selected></option>
        </template>
        <template x-for="path in historyProjectPaths" :key="path">
          <option x-bind:value="path" x-text="path"></option>
        </template>
        <option x-bind:value="selectProjectPathFlag">选择项目文件夹...</option>
      </select>
    </label>
    <label class="shrink-0 select w-auto" x-show="$store.projectPath.isInsideWorkTree">
      <span class="label whitespace-nowrap">当前分支</span>
      <select x-model="$store.projectPath.currentBranch" x-on:change="switchBranch" class="w-auto">
        <template x-for="branch in branches">
          <option x-bind:value="branch.short" x-text="branch.label"></option>
        </template>
      </select>
    </label>
    <button type="button" class="btn shrink-0" x-on:click="showFtpConfig" x-bind:class="ftpConfig.host ? 'btn-success' : ''" x-show="$store.projectPath.isInsideWorkTree">远程服务器</button>
    <div class="dropdown dropdown-bottom dropdown-end shrink-0 flex items-center theme-button">
      <div tabindex="0" role="button" class="btn p-0">
        <svg class="size-8" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect width="48" height="48" fill="white" fill-opacity="0.01" stroke-linejoin="round" stroke-width="2" stroke="none" fill-rule="evenodd"></rect>
            <path d="M18,6 C18,9.3137085 20.6862915,12 24,12 C27.3137085,12 30,9.3137085 30,6 L35.4545455,6 L42,15.8181818 L36.2727273,20.7272727 L36.2727273,42 L11.7272727,42 L11.7272727,20.7272727 L6,15.8181818 L12.5454545,6 L18,6 Z" stroke="currentColor" stroke-width="2" fill="none" fill-rule="nonzero" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
      <ul tabindex="-1" class="dropdown-content bg-base-300 rounded-box z-10 w-52 p-2 shadow-2xl">
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Dark" value="dark" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Cupcake" value="cupcake" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Lemonade" value="lemonade" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Caramellatte" value="caramellatte" x-model="currentTheme" /></li>
      </ul>
    </div>
  </div>
</div>
