<script type="text/javascript" src="./components/js/project-path.js"></script>
<div x-data="projectPath">
  <div class="flex gap-2">
    <label class="select grow">
      <span class="label whitespace-nowrap"><svg x-show="historyProjectPaths.length>0" x-on:click="manageProjects" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 18" stroke-width="1.5" stroke="currentColor" class="size-4 cursor-pointer">
          <path stroke-linecap="round" stroke-linejoin="round" d="M0 3h18M0 9h18M0 15h18" />
        </svg>项目路径</span>
      <select x-model="$store.projectPath.path" x-on:change="selectProjectPath">
        <template x-if="!historyProjectPaths.length">
          <option value="" selected></option>
        </template>
        <template x-for="path in historyProjectPaths" :key="path">
          <option x-bind:value="path" x-text="path"></option>
        </template>
        <option x-bind:value="selectProjectPathFlag">选择项目文件夹...</option>
      </select>
    </label>
    <label class="shrink-0 select w-auto">
      <span class="label whitespace-nowrap">当前分支</span>
      <select x-model="$store.projectPath.currentBranch" x-on:change="switchBranch" class="w-auto">
        <template x-for="branch in branches">
          <option x-bind:value="branch.short" x-text="branch.label"></option>
        </template>
      </select>
    </label>
    <button class="btn shrink-0" x-on:click="showFtpConfig" x-bind:class="ftpConfig.host ? 'btn-success' : ''">远程服务器</button>
    <div class="dropdown dropdown-bottom dropdown-end shrink-0 flex items-center theme-button">
      <div tabindex="0" role="button" class="btn p-0">
        <svg class="size-8" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
          <g>
            <rect width="48" height="48" fill="white" fill-opacity="0.01" stroke-linejoin="round" stroke-width="2" stroke="none" fill-rule="evenodd"></rect>
            <path d="M18,6 C18,9.3137085 20.6862915,12 24,12 C27.3137085,12 30,9.3137085 30,6 L35.4545455,6 L42,15.8181818 L36.2727273,20.7272727 L36.2727273,42 L11.7272727,42 L11.7272727,20.7272727 L6,15.8181818 L12.5454545,6 L18,6 Z" stroke="currentColor" stroke-width="2" fill="none" fill-rule="nonzero" stroke-linejoin="round"></path>
          </g>
        </svg>
      </div>
      <ul tabindex="-1" class="dropdown-content bg-base-300 rounded-box z-10 w-52 p-2 shadow-2xl">
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Default" value="default" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Dark" value="dark" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Cupcake" value="cupcake" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Retro" value="retro" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Valentine" value="valentine" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Lemonade" value="lemonade" x-model="currentTheme" /></li>
        <li><input type="radio" name="theme-dropdown" class="theme-controller w-full btn btn-sm btn-block btn-ghost justify-start" aria-label="Caramellatte" value="caramellatte" x-model="currentTheme" /></li>
      </ul>
    </div>
  </div>

  <dialog id="ftp-config-dialog" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
      <h3 class="text-lg font-bold">FTP设置</h3>
      <div class="py-4">
        <label class="select my-1 w-auto">
          <span class="label">协议</span>
          <select x-model="ftpConfig.protocol">
            <option value="ftp">FTP</option>
            <option value="sftp">SFTP</option>
          </select>
        </label>
        <label class="input my-1 w-full">
          <span class="label">主机</span>
          <input type="text" placeholder="127.0.0.1" x-model="ftpConfig.host" />
        </label>
        <label class="input my-1 w-35">
          <span class="label">端口</span>
          <input type="text" :placeholder="ftpDefaultPort" x-model.number="ftpConfig.port" />
        </label>
        <label class="input my-1 w-full">
          <span class="label">用户名</span>
          <input type="text" x-model="ftpConfig.username" />
        </label>
        <label class="input my-1 w-full">
          <span class="label">密码</span>
          <input type="password" x-model="ftpConfig.password" />
        </label>
        <label class="input my-1 w-full">
          <span class="label">远程路径</span>
          <input type="text" placeholder="/" x-model="ftpConfig.remotePath" />
        </label>
        <label class="label my-1">
          <input type="checkbox" x-model="ftpConfig.autoSync" class="toggle toggle-primary" />
          自动同步到远程服务器
        </label>
        <label class="label my-1" x-show="ftpConfig.autoSync">
          <input type="checkbox" x-model="ftpConfig.childProcessSync" class="toggle toggle-primary" />
          创建子进程去同步（好处是不会出现主窗口被卡死的情况）
        </label>
        <fieldset class="fieldset my-1 w-full" x-show="ftpConfig.autoSync">
          <legend class="fieldset-legend">以下路径不自动同步</legend>
          <textarea class="textarea w-full h-21" x-model="ftpConfig.ignoredPaths"></textarea>
          <div class="label">多个路径请用换行分隔。注意路径是区分大小写的</div>
        </fieldset>
      </div>
      <div class="modal-action">
        <button class="btn" x-on:click="closeFtpConfig">取消</button>
        <button class="btn btn-primary" x-on:click="saveFtpConfig">保存</button>
      </div>
    </div>
  </dialog>
</div>
