<div class="status-bar flex items-center gap-2" x-data="{
  version: 'v'+window.electronAPI.getArgument('app-version')
}" x-init="Alpine.store('statusBar', { statusText: '', statusHtml: '', setStatusText(text, isHtml = false) {if (isHtml) {this.statusHtml = text;this.statusText = '';} else {this.statusHtml = '';this.statusText = text;};return this;} })">
  <div class="grow"><span x-text="$store.statusBar.statusText"></span><div x-html="$store.statusBar.statusHtml" x-show="$store.statusBar.statusHtml!=''"></div></div>
  <div class="shrink-0">Copyright &copy; 2026 <span onclick="window.electronAPI.ipcInvoke('shell:openExternal', 'https://github.com/ddm123/git-commit/releases')" class="cursor-pointer underline">DDM</span></div>
  <div class="shrink-0" x-text="version"></div>
</div>
