@keyframes slideIn {
  0% {
    transform: translate(0, -100%);
  }
  80% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes slideOut {
  0% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, -100%);
  }
}

body {
  font-size: 14px;
}
body > .body-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 16px;
  background-color: rgba(255, 255, 255, .5);
  display: none;
  z-index: 2;
  transition: all .3s ease;
}
body.disable{
  overflow: hidden;
}
body.disable > .body-mask{
  display: block;
}
.messages{
  pointer-events: none;
  position: fixed;
  top: .7rem;
  left: 0;
  width: 100%;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: .5rem;
}
.messages .message.slide-in{
  animation: slideIn 0.5s ease-out forwards;
}
.messages .message.slide-out{
  animation: slideOut 0.5s ease-out forwards;
}
.message{
  pointer-events: auto;
  padding: 10px 1rem;
  border-radius: 10px;
  display: flex;
  gap: .75rem;
  align-items: flex-start;
  width: auto;
}
.message.error{
  color: red;
  background-color: #f8d7da;
}
.message.success{
  color: green;
  background-color: #d4edda;
}
.message.success::before{
  content: "✓";
  color: green;
}
.message.error::before{
  content: "✕";
  color: red;
}
.message .text{
  flex-grow: 1;
}
.message .close{
  cursor: pointer;
  width: 1rem;
  height: 1rem;
  line-height: 100%;
  display: block;
}
.message .close svg .circle-bg {
  stroke: #f2f2f2;
}
.message .close svg .circle-fill {
  stroke: gray;
  stroke-linecap: butt;
  transform: rotate(-90deg);
  transform-origin: center;
}
.message .close svg .icon{
  stroke:gray;
  stroke-linecap: round;
}
.message .close svg .circle-bg,
.message .close svg .circle-fill,
.message .close svg .icon {
  stroke-width:18;
  fill:transparent;
}
.message.success .close svg .circle-fill,
.message.success .close svg .icon{
  stroke: green;
}
.message.error .close svg .circle-fill,
.message.error .close svg .icon{
  stroke: red;
}
.file-list {
  --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
  height: calc(100vh - 254px);
  min-height: 100px;
  border: 1px solid var(--input-color);
  border-radius: .25rem;
}
.file-list thead :where(td, th)[data-field]:not([data-field="checkbox"]){
  cursor: pointer;
}
.file-list thead :where(td, th)[order-dir="asc"]::after {
  display: inline-block;
  content: "⋀";
  font-size: .75rem;
  margin: 0 .75rem;
  transform: scale(1.3, .5);
}
.file-list thead :where(td, th)[order-dir="desc"]::after {
  display: inline-block;
  content: "⋁";
  font-size: .75rem;
  margin: 0 .75rem;
  transform: scale(1.3, .5);
}
.file-list .col-checkbox {
  width: 32px;
  text-align: center;
}
.file-list .col-checkbox + td,
.file-list .col-checkbox + th {
  padding-inline-start: 0;
}
.file-list tbody .modified {
  color: blue;
}
.file-list tbody .added {
  color: #724e18;
}
.file-list tbody .deleted {
  color: red;
}
.file-list tbody .untracked {
  color: green;
}
.file-list .table tbody :where(td, th) {
  padding-block: 5px;
  white-space: nowrap;
}
.file-list tbody > tr:has(.col-checkbox input[type="checkbox"]:focus) {
  outline: 1px dotted #ccc;
  outline-offset: -1px;
}
.file-list tbody tr.first-untracked {
  position: relative;
}
.file-list tbody tr.first-untracked > td[x-text="file.file"]::before {
  content: "";
  background: linear-gradient(90deg, #f2f2f2, #666, #f2f2f2);
  background-size: 100% 1px;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  z-index: 1;
  height: .7rem;
  top: 0;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}
.file-list tbody tr.first-untracked > td[x-text="file.file"]::after {
  content: "未跟踪的文件";
  text-align: center;
  background-color: #fff;
  padding: 0 5px;
  font-size: .7rem;
  width: fit-content;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}
.status-bar{
  white-space: nowrap;
  width: 100%;
  height: 16px;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  font-size: 11px;
  margin-top: 5px;
}
.percent-bg {
  color: #fff;
  background-image: linear-gradient(#4caf50, #4caf50);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  background-position: left center;
}
.d2h-info,
.d2h-code-side-linenumber:after {
  background-image: repeating-linear-gradient(
    to right,
    #999,
    #999 10px,
    transparent 5px,
    transparent 16px
  );
  background-size: 100% 2px;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.d2h-info.d2h-code-side-linenumber:after,
.d2h-info .d2h-code-side-line {
  font-weight: bold;
  font-size: 1rem;
}
.d2h-emptyplaceholder:not(.d2h-code-side-linenumber) {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23CCCCCC' fill-opacity='0.4' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}
.d2h-emptyplaceholder .d2h-code-side-emptyplaceholder {
  background:transparent;
}
td.d2h-code-side-linenumber.d2h-code-side-emptyplaceholder {
  background-color: transparent;
}