@keyframes slideIn {
  0% {
    transform: translateX(-50%) translateY(-100%);
  }
  80% {
    transform: translateX(-50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(0);
  }
}
@keyframes slideOut {
  0% {
    transform: translateX(-50%) translateY(0);
  }
  80% {
    transform: translateX(-50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-100%);
  }
}

body {
  font-size: 14px;
}
body > .body-mask{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 16px;
  background-color: rgba(255, 255, 255, .5);
  display: none;
  z-index: 2;
  transition: all .3s ease;
}
body.disable{
  overflow: hidden;
}
body.disable > .body-mask{
  display: block;
}
.messages{
  position: fixed;
  top: .7rem;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  max-width: calc(100vw - 2rem);
  max-height: calc(100vh - 2rem);
  overflow: auto;
  z-index: 9999;
  display: none;
  flex-direction: column;
  gap: .5rem;
}
.messages.slide-in{
  animation: slideIn 0.5s ease-out forwards;
  display: flex;
}
.messages.slide-out{
  display: flex;
  animation: slideOut 0.5s ease-out forwards;
}
.message{
  padding: 10px 1rem;
  border-radius: 10px;
  display: flex;
  gap: .75rem;
  align-items: flex-start;
  width: auto;
}
.message.error{
  color: red;
  background-color: #f8d7da;
}
.message.success{
  color: green;
  background-color: #d4edda;
}
.message.success::before{
  content: "✓";
  color: green;
}
.message.error::before{
  content: "✕";
  color: red;
}
.message .text{
  flex-grow: 1;
}
.message .close{
  cursor: pointer;
  font-weight: bold;
  line-height: 100%;
  flex-shrink: 0;
  border-radius: 100%;
  padding: 0 3px;
  border: 1px solid #666;
}
.message.success .close{
  border-color: green;
}
.message.error .close{
  border-color: red;
}
.border-none:focus, .select:focus-within {
  border: none;
  box-shadow: none;
  outline: none;
}
.file-list {
  --input-color: color-mix(in oklab, var(--color-base-content) 20%, #0000);
  height: calc(100vh - 242px);
  min-height: 100px;
  border: 1px solid var(--input-color);
  border-radius: .25rem;
}
.file-list th[data-field]:not([data-field="checkbox"]){
  cursor: pointer;
}
.file-list th[order-dir="asc"]::after {
  content: "▲";
  font-size: 0.8rem;
  margin-left: 5px;
}
.file-list th[order-dir="desc"]::after {
  content: "▼";
  font-size: 0.8rem;
  margin-left: 5px;
}
.file-list .col-checkbox {
  width: 32px;
  padding-inline-end: 0;
  text-align: center;
}
.file-list tbody .modified {
  color: blue;
}
.file-list tbody .added {
  color: #724e18;
}
.file-list tbody .deleted {
  color: red;
}
.file-list tbody .untracked {
  color: green;
}
.file-list .table tbody td {
  padding-block: 5px;
  white-space: nowrap;
}
.file-list tbody > tr:has(.col-checkbox input[type="checkbox"]:focus) {
  outline: 1px dotted #ccc;
  outline-offset: -1px;
}
.status-bar{
  white-space: nowrap;
  width: 100%;
  height: 16px;
  box-sizing: content-box;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 16px;
  font-size: 11px;
  margin-top: 5px;
}
.bg-checkered {
  background-color: transparent;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%23F0F0F0' fill-opacity='0.4' d='M0 0h8v8H0zm8 8h8v8H8z'/%3E%3C/svg%3E");
  background-size: 16px 16px;
}
.mockup-code pre[data-prefix]:before{
  opacity: 1;
  background-color: black;
  padding-right: 6px;
  color: #888;
}
.mockup-code pre.active {
  outline: 1px dotted #ff9a3b;
  outline-offset: -1px;
}
.mockup-code pre.active:before {
  color: #f00;
}
.diff-preview, .lines-thumbnail {
  height: calc(100vh - 6.3rem);
}
.diff-preview {
  overflow: auto;
}
.lines-thumbnail {
  width: 32px;
  margin-right: 4px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}
.lines-thumbnail > div {
  flex-grow: 1;
}
.line-preview {
  width: 100%;
  overflow: auto;
}
.line-preview table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}
.line-preview table td {
  border: 1px solid #ccc;
  padding: 4px;
  vertical-align: top;
}
.line-preview {
  margin-top: .5rem;
}